#main-button-container{
    background-color: turquoise;
    width:15%; 
    height: 100vh;
    float:left; 
}
#main-container {
    display: flex;
}
#main-page-layout{
    float: left;
    width: 85%; 
    height: 100vh;
    background-color:pink;
}
#char-one, #char-two, #char-three, #char-four, #char-five{
    float: left;
    width: 80px; 
    height: 80px; 
    border: 1px solid black;
    background-color: white;
}
#player-input{
    position: absolute;
    top: 80%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

#gameboard {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}
.style-reason{
    margin:10px; 
}

#special {
    position: fixed;
    bottom:0; 
}


