{% extends "game/inherit.html" %}
{% load static %}

{% block body %}
    <div id="welcome">
        <h1>Hello,</h1>
        {% if request.user.username %}
            <h1>&lt{{ request.user.username }}&gt</h1>
        {% else %}
            <h1>&ltStranger&gt</h1>
        {% endif %}
    </div>
    <div id="profile">
    </div>

    <div id="hangman-pic"> 
        <img id="hangman-pic-pic" src="{% static 'game/hangman.jpg' %}" alt="hangman">
    </div>
    
    <div style="display: none;" id="gameboard">
        <div style="padding:10px; font-size:40px" id="char-one"></div>
        <div style="padding:10px; font-size:40px" id="char-two"></div>
        <div style="padding:10px; font-size:40px" id="char-three"></div>
        <div style="padding:10px; font-size:40px" id="char-four"></div>
        <div style="padding:10px; font-size:40px" id="char-five"></div>
    </div>
    
    <div id="player-input">
        <h1 id="game-id"></h1>
        <form id="guess-form">
            <button id="game-start-button" type="button" class="btn btn-danger">Game Start</button>
            <h6>Character: Enter lowercase ONLY</h6>
            <input id="guess-char" type="text">
            <button id="word-submit" type="button" class="btn btn-primary">Try</button>
        </form>
    </div>
    
{% endblock %}

{% block script %}
    <script src="{% static 'game/index.js' %}"></script>
{% endblock %}