{% extends "game/inherit.html" %}
{% load static %}

{% block body %}
    <div id="welcome">
        <h1>Hello,</h1>
        {% if request.user.username %}
            <h1>&lt{{ request.user.username }}&gt</h1>
        {% else %}
            <h1>&ltStranger&gt</h1>
        {% endif %}
    </div>

    <div id="main">
        <h3 style="text-align: center;">Welcome to Cute Games.com</h3>
        <h3 style="text-align: center;">Play Hangman and have lots of FUN</h3>
        <div class="card-group">
            <div class="card bg-dark text-white">
            <img src="{% static 'game/slide-image-one.jpg' %}" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">Hangman makes your neck feel...</h5>
                <p class="card-text">Junji Ito's Hanging Balloons</p>
            </div>
            </div>
            <div class="card bg-dark text-white">
                <img style="height: 440px;" src="{% static 'game/slide-image-two.jpg' %}" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">...a little...a little...</h5>
                    <p class="card-text">Satoshi Kon's Perfect Blue</p>
                </div>
            </div>
            <div class="card bg-dark text-white">
                <img style="height: 440px;" src="{% static 'game/slide-image-three.jpg' %}" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">....sqeezy doesn't it?</h5>
                    <p class="card-text">Tsutomu Mizushima's Another</p>
                </div>
            </div> 
        </div>
        <h3 style="text-align: center;">Spooky times begin here</h3>
    </div>

    <div id="profile">
    </div>

    <div id="hangman-pic"> 
        <img id="hangman-pic-pic" src="{% static 'game/hangman.jpg' %}" alt="hangman">
    </div>
    
    <div style="display: none;" id="gameboard">
        <div style="padding:10px; font-size:40px" id="char-one"></div>
        <div style="padding:10px; font-size:40px" id="char-two"></div>
        <div style="padding:10px; font-size:40px" id="char-three"></div>
        <div style="padding:10px; font-size:40px" id="char-four"></div>
        <div style="padding:10px; font-size:40px" id="char-five"></div>
    </div>
    
    <div id="player-input">
        <h1 id="game-id"></h1>
        <form id="guess-form">
            <button id="game-start-button" type="button" class="btn btn-danger">Game Start</button>
            <h6>Character: Enter lowercase ONLY</h6>
            <input id="guess-char" type="text">
            <button id="word-submit" type="button" class="btn btn-primary">Try</button>
        </form>
    </div>
    
{% endblock %}

{% block script %}
    <script src="{% static 'game/index.js' %}"></script>
{% endblock %}