{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cute Games.com</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'game/inherit.css' %}">
        {% block script %}
        {% endblock %}
    </head>
    <body>  
            <div id="main-button-container">
                <div class="btn-group-vertical">
                    <button  style="margin: 10px;" id="main-button-main" type="button" class="btn btn-secondary">Main</button>
                    <button style="margin: 10px;" id="main-button-profile" type="button" class="btn btn-secondary">Profile</button>
                    <button style="margin: 10px;" id="main-button-console" type="button" class="btn btn-secondary">|-o-&lt-&lt</button>
                    <button style="margin: 10px;" id="main-button-players" type="button" class="btn btn-secondary">Players</button>
                    <button style="margin: 10px;" id="main-button-settings" type="button" class="btn btn-secondary">Settings</button>
                    <div id="special">
                        {% if user.is_authenticated %}
                        <form action="{% url 'logout' %}">
                            <input id="main-button" type="submit" class="btn btn-dark" value="Logout">
                        </form>
                        {% else %}
                        <div class="style-reason">
                            <form action="{% url 'register' %}">
                                <input id="main-button" type="submit" class="btn btn-dark" value="Register">
                            </form>
                        </div>
                        <div class="style-reason">
                            <form action="{% url 'login' %}">
                                <input id="main-button" type="submit" class="btn btn-dark" value="Login">
                            </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div> 
            <div id="main-page-layout">
                
                {% block body %}
                {% endblock %}
            </div>
    </body>
</html>
